* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

html {
  font-size: clamp(
    10px,           /* 最小值 */
    0.8333vw,       /* 动态值 (16px @ 1920px) */
    20px            /* 最大值 */
  );
}

html, body {
  transition: font-size 0.2s ease-in-out;
}

ul, li, ol, dl, dt {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

input, button, select, textarea {
  outline: none;
  border: none;
  background-color: transparent;
}

input {
  width: 0; 
}
